body {
    background-image: url(fon1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
}

    body p {
        width: 400px;
        border: 3px solid black;
        padding: 2%;
        background-color: #FFFAFA;
        margin-left: 70vw;
    }

.task {
    float: left;
    margin-right: 5vw;
  
}

.header {
    font-family: Monotype Corsiva;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}
